# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/src/images/cards/origin/
/src/images/slider/origin/
/dist/
/dist-html/
/grunt/
/full-Gruntfile.js
/full-Gruntfile-1.js
