$fontfamily: 'Roboto Condensed';
$fontfamily2: 'Roboto';

$afont: $fontfamily2;
$titleFont: $fontfamily;

$viewport: 980px;
$primaryColor: rgb(141, 198, 63);
$acolor: $primaryColor;

$animationDelay: 0.25s;
