@import 'variables';

$heightHeader: 105px;

header {
    height: $heightHeader;
    line-height: $heightHeader;

    a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

    .logo {
        float: left;
        width: 35%;
        background-color: $primaryColor;
        text-align: right;
        padding-right: 80px;
        color: #fff;

        .logo-wrap {
	        display: inline-table;
            position: relative;
            z-index: 10;

            .first-line {
                line-height: normal;
                font-size: 2.8rem;
                font-weight: 400;

                .small {
	                display: inline-block;
                    font-size: 80%;
                }
            }

            .second-line {
                line-height: normal;
                font-weight: 300;
                text-align: left;
                position: relative;
                z-index: 11;
                top: -13px;
                padding-left: 4px;
            }
        }
    }

    .navbar {
	    float: left;
        width: 65%;
        background-color: rgb(45,51,43);
        text-align: center;

        .menu {
            list-style: none;

            li {
                display: inline-block;
                margin: 0 20px;

                &.active {
                    a {
                        color: $acolor;
                    }
                }

                a {
                    padding: 0 5px;

                    &:hover, &:active, &:focus {
                        color: $acolor;
                    }
                }
            }
        }


    }
}

.top-section {
    position: relative;
    z-index: 10;
	background-image: url(../images/slider/slide04.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

    .main-slider {
        position: relative;
        z-index: 10;

        img {
            width: 100%;
        }
    }

    .category-card {
        width: $viewport;
        max-width: 100%;
        display: block;
        margin: 0 auto;
		position: relative;
		z-index: 11;
		padding-top: 50px;
		padding-bottom: 30px;
        //position: absolute;
        //z-index: 11;
        //top: 50px;
        //$w: 100%;
        //left: $w/4/2+1.25%;

		h1, h2 {
			color:  #fff;
		}

		h1 {
			text-align: center;
			font-size: 46px;
			margin-bottom: 50px;
			font-weight: 400;
		}

        .card {
            $cardMargin: 15px;
            width: ($viewport/2)-$cardMargin;
            float: left;
            height: 210px;
            box-shadow: 0 0 15px #000;
            background-repeat: no-repeat;
            background-position: center;
            background-size: inherit;
            position: relative;
            z-index: 10;

            &:nth-of-type(1) {
                margin-right: $cardMargin;
                margin-bottom: $cardMargin;
                background-image: url('../images/cards/card01.jpg');
            }

            &:nth-of-type(2) {
                margin-left: $cardMargin;
                margin-bottom: $cardMargin;
                background-image: url('../images/cards/card02.jpg');
            }

            &:nth-of-type(3) {
                margin-right: $cardMargin;
                margin-top: $cardMargin;
                background-image: url('../images/cards/card03.jpg');
            }

            &:nth-of-type(4) {
                margin-left: $cardMargin;
                margin-top: $cardMargin;
                background-image: url('../images/cards/card04.jpg');
            }

            .title {
                position: absolute;
                z-index: 10;
                bottom: 0;
                width: 100%;
                height: 65px;
                background-color: rgba($primaryColor,0.901961);
                padding:10px;

				h2 {
					text-transform: uppercase;
					font-weight: 700;
				}
            }
        }
    }
}
